<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGAYsQAERMY6mB65e47wvUQYQ4V-DVnGo</string>
	<key>GCM_SENDER_ID</key>
	<string>1015398982385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vitaefitness</string>
	<key>PROJECT_ID</key>
	<string>vitaefitness-5013f</string>
	<key>STORAGE_BUCKET</key>
	<string>vitaefitness-5013f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015398982385:ios:bd2f608481e540e3ac7f50</string>
</dict>
</plist>